.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack-container {
    position: relative;
    img {
        width: 130px;
        position: absolute;
    }
}

.top-card {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
        transform: scale(1.2) translateY(-10px);
    }
}

.pick-card {
    transition: all 125ms ease-in-out;
    transform: scale(1.5) !important;
}

@keyframes pick-Card-Animation {
    0% {}
    40% {}
    70% {}
    100% {}
}